Binaries
DerivedDataCache
Intermediate
Content/Meshes/Pickups
Content/StarterContent
Content/Character/Materials
Saved
Plugins/AdvancedSessions/Intermediate
Plugins/AdvancedSteamSessions/Intermediate
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
